.pricing {
	z-index: 1;
	padding: 70px 0;
	animation: opacity 0.5s linear;
	transition: all 0.5s linear;
}

.pricingCard {
	backdrop-filter: blur(10px);
	transition: all 0.5s linear;
	animation: opacity 1.5s linear;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pricingCard ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.pricingCard ul > li {
	margin-bottom: 10px;
	font-size: 18px;
}

.pricingCard h3 {
	text-align: right;
}

.pricingCard:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	transform: translateY(-5px);
}

.orderButton {
	color: #fff;
	background-color: #222;
	transition: all 0.3s linear;
}

.orderButton:hover {
	color: #ded;
	background-color: #444;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
